* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

header, main, footer{
  animation: text-appear 0.3s ease-in-out;
  color: rgb(0, 0, 0);
}
@keyframes text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0 10%;
  background-color: rgb(255, 255, 255);
}

header{
  background-color: rgb(255, 255, 255);
}
header section {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
header section figure{
  width: 50%;
  height:min-content;
  margin-left: 5%;
}
header section figure img {
  width: 97%;
  border-radius: 25%;
  border: 3px solid;
}
header section figcaption {
  width: 100%;
  height: 300px;
  height: min-content;
  margin-right: 5%;
}
header section figcaption h1 {
  font-size: 300%;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
}
header section figcaption h2 {
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}
main {
  background-color:rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: black;
}
li{
    padding: 0.3%;
    list-style: none;
    font-size: 150%;
}



footer ul {
  padding: 0.5%;
  list-style: none;
  display: flex;
  justify-content:space-around;
}

footer ul li a i{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: transform 0.3s ease;
}
footer ul li a i:hover {
  transform: scale(1.3);
}
footer ul li span{
  margin-left: 10px;
}

/* Sobrescribir estilo boostrap acordion*/
.centrado{
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: white;
}
.accordion-body{
  padding: 0%;
}
.accordion-button:focus {
  z-index: 3;
  border: none;
  outline: 0;
  box-shadow: none;
  background-color: black;
}
.accordion-button:not(.collapsed) {
  color: white;
  background-color: black;
  box-shadow: none;
  border-radius: 15px;
  font-size: 80%;
  padding: 1%;
}
.accordion-button.collapsed {
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 80%;
  padding: 1%;
}
.accordion-item{
  border-style: none;
  margin-bottom: 1%;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 15px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 15px;
}
.accordion-button::after {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

/*Sección proyectos*/
#contenedorProyectos ul {
  display: flex;
  justify-content:center;
  padding: 0%;
  gap: 3%;
}

#contenedorProyectos li {
  position: relative;
  width: 30%;
  margin-top: 1%;
}

#contenedorProyectos img {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  transition: transform 0.3s ease;
}

#contenedorProyectos img:hover {
  transform: scale(1.1);
}

#contenedorProyectos span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: 100%;
  text-align: center;
}


@media (max-width:1050px){

  body{
    background-color: rgb(255, 255, 255);
    margin: 0% 5%;
  }

  header section figcaption h1 {
    font-size: 350%;
    text-align: center;
    margin-bottom: 2%;
  }
  header section figcaption h2 {
    font-size: 200%;
    text-align: center;
  }

  main section h3 {
    text-align: center;
    margin: 2%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 1%;
    font-size: 120%;
  }
  
  main section li{
      margin-left: 3%;
      padding: 0.5%;
      list-style: none;
      font-size: 120%;
  }
  main section h4{
      margin-left: 3%;
      padding: 0.5%;
      font-size: 120%;
  }
  footer ul li a span{
    display: none;
  }

}
@media (max-width:800px){

  body{
    background-color: rgb(255, 255, 255);
    margin: 0% 2%;
  }

  header section figcaption h1 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 2%;
  }
  header section figcaption h2 {
    font-size: 150%;
    text-align: center;
  }

  main section h3 {
    text-align: center;
    margin: 2%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 1%;
    font-size: 120%;
  }
  
  main section li{
      margin-left: 3%;
      padding: 0.5%;
      list-style: none;
      font-size: 120%;
  }
  main section h4{
      margin-left: 3%;
      padding: 0.5%;
      font-size: 120%;
  }
  #contenedorProyectos span{
    display: none;
  }
  footer ul li span{
    margin-left: 2px;
  }
}
@media (max-width: 560px){

  header{
    background-color: rgb(255, 255, 255);
  }
  header section{
    display: block;
  }
  header section figure{
    width: 80%;
    margin: auto;
  }
  header section figure img {
    width: 90%;
    margin: 5%;
  }
  header section figcaption {
    width: 100%;
    margin: auto;
  }
  header section figcaption h1 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 2%;
  }
  header section figcaption h2 {
    text-align: center;
    font-size: 130%;
    margin-bottom: 1%;

  }
  main {
    padding-top: 1%;
    background-color:rgb(255, 255, 255);
  }
  ul{
    padding: 0;
    margin: 0;
    font-size: small;
    text-align:start;
  }

  .accordion-button:not(.collapsed) {
    padding: 2%;
  }
  .accordion-button.collapsed {
    padding: 2%;
  }

  #contenedorProyectos ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contenedorProyectos li {
    width: 90%;
    margin-top: 1%;
    align-items: center;
  }
  #contenedorProyectos span{
    display: inline;
  }
}