* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

header, main, footer{
  animation: text-appear 0.3s ease-in-out;
  color: rgb(0, 0, 0);
}
@keyframes text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0 10%;
  background-color: rgb(255, 255, 255);
}
article{
  display: none;
}
header{
  background-color: rgb(255, 255, 255);
}
header section {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
header section figure{
  width: 50%;
  height:min-content;
  margin-left: 5%;
}
header section figure img {
  width: 97%;
  border-radius: 25%;
  border: 3px solid;
}
header section figcaption {
  width: 100%;
  height: 300px;
  height: min-content;
  margin-right: 5%;
}
header section figcaption h1 {
  font-size: 300%;
  text-align: center;
}
header section figcaption h2 {
  font-size: 200%;
  text-align: center;
}
main {
  background-color:rgb(255, 255, 255);
}


main section h3 {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 1%;
  font-size: 150%;
  border-radius: 10px;
}
main section h3:hover {
  background-color: rgb(51, 51, 51);
  transition: background-color 0.3s ease-in;
}
main section h3 span{
  margin: auto;
}
main section h3 i{
  align-self: center;
  margin-left: 1%;
  margin-right: 1%;
}

main section a {
  text-decoration: none;
}
main section li{
    margin-left: 3%;
    padding: 0.5%;
    list-style: none;
    font-size: 150%;
}

main section li a {
  color: rgb(0, 0, 0);
}
main section li a i{
  margin-left: 1%;
}
main section h4{
    margin-left: 3%;
    padding: 0.5%;
    font-size: 150%;
}
footer{
  padding-top: 2%;
  padding-bottom: 3%;
}

footer ul {
  margin: 0 2%;
  padding: 0.5%;
  list-style: none;
  display: flex;
  text-align: center;
}
footer ul li{
  margin: auto;
}

footer ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
footer ul li a:hover {
  color: rgb(51, 51, 51);
  transition: background-color 0.3s ease-in;
}


@media (max-width:1050px){

  body{
    background-color: rgb(255, 255, 255);
    margin: 0;
  }

  header section figcaption h1 {
    font-size: 350%;
    text-align: center;
    margin-bottom: 3%;
  }
  header section figcaption h2 {
    font-size: 150%;
    text-align: center;
  }

  main section h3 {
    text-align: center;
    margin: 2%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 1%;
    font-size: 120%;
  }
  
  main section li{
      margin-left: 3%;
      padding: 0.5%;
      list-style: none;
      font-size: 120%;
  }
  main section h4{
      margin-left: 3%;
      padding: 0.5%;
      font-size: 120%;
  }

}
@media (max-width:800px){

  body{
    background-color: rgb(255, 255, 255);
    margin: 0;
  }

  header section figcaption h1 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 3%;
  }
  header section figcaption h2 {
    font-size: 100%;
    text-align: center;
  }

  main section h3 {
    text-align: center;
    margin: 2%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 1%;
    font-size: 120%;
  }
  
  main section li{
      margin-left: 3%;
      padding: 0.5%;
      list-style: none;
      font-size: 120%;
  }
  main section h4{
      margin-left: 3%;
      padding: 0.5%;
      font-size: 120%;
  }

}
@media (max-width: 560px){

  body{
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
  header{
    background-color: rgb(255, 255, 255);
  }
  header section{
    display: block;
  }
  header section figure{
    width: 80%;
    margin: auto;
  }
  header section figure img {
    width: 90%;
    margin: 5%;
  }
  header section figcaption {
    width: 100%;
    margin: auto;
  }
  header section figcaption h1 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 3%;
  }
  header section figcaption h2 {
    text-align: center;
    font-size: 120%;
  }
  main {
    padding-top: 1%;
    background-color:rgb(255, 255, 255);
  }

  footer ul li a span{
    display: none;
  }

}